# ==========================
# Environment
# ==========================
.env
.venv/
venv/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo

# ==========================
# Databases
# ==========================
*.db
*.sqlite
*.sqlite3

# ==========================
# Streamlit
# ==========================
.streamlit/

# ==========================
# Reports
# ==========================
reports/*.csv

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Firebase
# ==========================
.firebase/
firebase_admin.json